.headline {
		border: 4px solid Tomato;
		background-color: Tomato;
}

body {
		font-family: "Lucida Handwriting";
		
}

.image-text-box {
				text-align: center;
}

th, td {
		
		border-bottom: 2px solid #ddd;
}

table {
		width: 100%;
		text-align: center;
}

tr:hover {
			background-color: Tomato;
}

.dog {
		background-color: black;
}

a {
		color: black;
		
}

#First, #Second,  #Third {
		text-align: center;
}

.L-Iheadlinewebsite-headline {
								text-align: center;
}
